body {
  text-align: center;
}

.game-board {
  height: 540px;
  width: 630px;
  /* background-color: white; */
  border: 5px solid #7fffd4;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  height: 70px;
  width: 70px;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid#3BB3B7;
}

.blue {
  background-color: #00C5E6;
}

.yellow {
  background-color: yellow;
}