body {
  text-align: center;
  font-family: 'Ms Madi', cursive;
  font-size: 2em;
}

.game-board {
  /* text-align: center; */
  height: 540px;
  width: 630px;
  /* background-color: white; */
  border: 5px solid #00AAA9;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #28161C;
}

.cell {
  height: 70px;
  width: 70px;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #00AAA9;
}

.blue {
  background-color: #00AAA9;
}

.yellow {
  background-color: yellow;
}