body {
  background-image: linear-gradient(to right top, #7e7da5, #b283a2, #d39091, #d9a982, #c6c78b);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  font-family: 'Ms Madi', cursive;
  font-size: 2em;
}

.game-board {
  height: 540px;
  width: 630px;
  border: 5px solid #00AAA9;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #28161C;
  background-image: linear-gradient(to left bottom, #00a8a8, #00bea5, #25d295, #67e47a, #a5f356, #ceeb5a, #ebe368, #ffdc7d, #ffd5b0, #ffdee5, #fff0ff, #ffffff);
}

.cell {
  height: 70px;
  width: 70px;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #00AAA9;
}

.cell:hover {
  border: 2px solid black;
}

.blue {
  background-color: #00a8a8;
}

.yellow {
  background-color: #ffff00;
}

#winner {
  margin: 20px;
}

.title-page {
  margin: 20px;
}

#start-button {
  font-family: 'Cairo Play', cursive;
  font-size: 20px;
  font-weight: bold;
}